.JoinUs{
    display: flex;
    padding: 0 60px;
    position: relative;
}
.JoinUs-left{
    font-size: 60px;
}
.JoinUs-left div:nth-child(1)
,.JoinUs-left div:nth-child(2){
    display: flex;
    gap:20px;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.JoinUs-left div:nth-child(1) span:nth-child(2),
.JoinUs-left div:nth-child(2) span:nth-child(1){
    color: white;
    font-weight: 600;
}
.JoinUs-right{
    position: absolute;
    bottom:0.8rem;
    right: 9rem;
    background-color: #363d42;;
    width:460px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-form{
    display: flex;
    align-items: center;
    gap: 70px;
}
.input{
    width:10rem;
    background-color: #363d42;;
    border: none;
    outline: none;
    font-size: 20px;
}
.JoinUs-btn{
    width:80px;
    height: 40px;
    background-color: var(--orange);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}